<div class="list">
  <h2><%= @list.name %></h2>

  <h3><%= t('.recipes') %></h3>

  <ul id="recipes">
    <% @list.recipes.each do |recipe| %>
      <li><%= link_to(recipe.name, recipe_path(recipe)) %></li>
    <% end %>
  </ul>

  <input name="term" id="recipe" size="60" data-behaviour="autocomplete-recipe" placeholder="<%= t('.placeholder') %>" />

  <div id="recipes"></div>

  <h3><%= t('.ingredients') %></h3>
  <ul id="ingredients">
    <%= format_list_ingredients(@list.ingredients) %>
  </ul>

  <script>
    $(function() {
      $("#recipe").autocomplete({
        appendTo: "#recipes",
        messages: {
          noResults: '<%= t('.no_results') %>',
          results: function( amount ) {
            return amount + ( amount > 1 ? " <%= t('.results') %>" : " <%= t('.result') %>" );
          }
        },
        source: "<%= recipes_path %>",
        minLength: 2,
        select: function( event, ui ) {
          console.log( ui.item ?
          "Selected: " + ui.item.value + " aka " + ui.item.id :
          "Nothing selected, input was " + this.value );
        },
        select: function( event, ui ){
          $.ajax({
            type: "POST",
            url: '<%= recipes_list_path(@list) %>',
            data: {recipe_id: ui.item.value},
            dataType: 'json',
            success: function(data, textStatus, jqXHR){
              var $recipeLink = $("<li><a href=\"" + data.href + "\">"+ data.label + "</a></li>");
              $('#recipes').append($recipeLink);
            }
          });
        },
        close: function(){
          $("#recipe").val(null);
        }
      });
    });
  </script>
</div>
