<div class="new-recipe">
  <h2><%= t('.new') %></h2>

  <p><%= t('.help') %>:</p>

  <%= form_for @recipe, html: {class: 'pure-form'} do |f| %>
    <%= flush_the_flash %>
    <%= f.text_field :original_url, value: params[:url], class: 'pure-input-2-3', 'data-behaviour' => 'focus' %>
    <%= f.button t('.save'), class: 'pure-button pure-button-primary pure-button-small', 'data-disable-with' => t('.saving') + '…' %>
  <% end %>

  <div class="info">
    <p>De momento sólo están soportados estos sitios:</p>
    <ul>
      <li>No más de mamá - <code>http://www.nomasdemama.com/</code></li>
      <li>Mumumio - <code>http://www.mumumio.com/recetas/</code></li>
      <li>Recetas de mamá - <code>http://www.recetasdemama.es/</code></li>
    </ul>
    <p>Si la receta es de otra web tienes que dar de alta la receta a mano.</p>
  </div>

  <p><%= t('.alternative') %> <%= link_to(t('.manually'), new_form_recipes_path) %>.</p>
</div>
