<div class="recipe">
  <h2><%= @recipe.name %></h2>
  <% if @recipe.original_url.present? %>
    <p class="url"><%= link_to(truncate(@recipe.original_url, length: 62) + ' ⟶', @recipe.original_url, target: 'blank') %></p>
  <% end %>

  <div class="image">
    <%= image_tag(@recipe.image.big.url) %>
  </div>

  <%= render partial: 'review_recipe', locals: {recipe: @recipe} %> 

  <div class="ingredients">
    <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.text %></li>
    <% end %>
    </ul>
  </div>

  <%= raw @recipe.text %>
</div>
