<% content_for(:head) do %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@ferblape">
  <meta name="twitter:title" content="<%= @recipe.name %>">
  <meta name="twitter:description" content="<%= @recipe.ingredients.limit(5).map{|i| i.food.name }.join(', ') %>…">
  <meta name="twitter:image" content="http://recetas.blat.es<%= @recipe.image.big.url %>">
<% end %>

<article class="recipe h-recipe">
  <h2 class="p-name"><%= @recipe.name %></h2>
  <% if @recipe.original_url.present? %>
    <p class="url"><%= link_to(truncate(@recipe.original_url, length: 62) + ' ⟶', @recipe.original_url, target: 'blank') %></p>
  <% end %>

  <div class="image">
    <%= image_tag(@recipe.image.big.url, class: 'u-photo') %>
  </div>

  <%= render 'metadata', recipe: @recipe %>

  <h3><%= t('.ingredients') %></h3>

  <div class="ingredients">
    <%= render partial: 'ingredients', locals: {ingredients: @recipe.ingredients} %>
  </div>

  <h3><%= t('.preparation') %></h3>
  <div class="e-instructions">
    <%= raw @recipe.text_html %>
  </div>
</article>
