<!DOCTYPE html>
<html>
<head>
  <title>Admin ⎯ recipe·o·matic</title>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
  <div class="tools">
    <%= link_to('⟵ ' + t('.back_to_front'), root_path) %>
    <% if @recipe %>
      · <%= link_to(t('.view_recipe'), recipe_path(@recipe)) %>
    <% end %>
  </div>

  <header>
    <h1><span>chef</span> <%= link_to('admin', admin_recipes_path) %></h1>
  </header>

  <div class="pure-g">
    <div class="pure-u-1-4 sidebar">
      <div class="pure-g recipes">
        <div class="pure-u-1 recipe new">
          <h5>
            <%= link_to(t('.recipes') + " (#{Recipe.count})", admin_recipes_path) %>
          </h5>
          <h6>
            <%= link_to t('.new_recipe') + ' +', new_admin_recipe_path %>
          </h6>
          <h5>
            <%= link_to(t('.food'), admin_foods_path) %>
          </h5>
          <h6>
            <%= link_to t('.new_food') + ' +', new_admin_food_path %>
          </h6>
        </div>
      </div>
    </div>


    <%= yield %>

  </div>

  <footer>
    we ♥ food
  </footer>
</body>
</html>
