<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <div class="tools">
    <% if admin? %>
      <%= link_to('⟵ ' + t('.admin'), admin_foods_path) %>
    <% end %>
  </div>

  <header>
    <h1><%= link_to('<span>chef</span> mis recetas'.html_safe, '/') %>
  </header>

  <div id="wrapper" class="pure-g">
    <div class="pure-u-1-4">
      <div class="sidebar">
        <ul>
          <% if admin? %>
          <li><%= link_to_unless(new_recipe_action?, t('.new'), new_recipe_path) %></li>
          <% end %>
          <li>
            <%= form_tag(recipes_path, method: :get) do %>
              <%= search_field_tag 'term', params[:term], placeholder: t('.search_help') %>
            <% end %>
          </li>
          <li><%= link_to(t('.suggestion'), suggestion_recipes_path) %></li>
        </ul>

        <% if admin? %>
        <h4><%= t('.by_ingredient') %></h4>
        <ul>
        <% Food.popular.each do |food| %>
          <li><%= link_to("#{food.name} (#{food.count})", food_recipes_path(food), title: t('.recipes_with_food', name: food.name)) %></li>
        <% end %>
        </ul>
        <% end %>

        <% if admin? %>
        <h3><%= link_to_unless_current(t('.lists'), lists_path) %></h3>
        <ul>
          <% List.last_created.each do |list| %>
            <li><%= link_to(list.name, list_path(list)) %></li>
          <% end %>
          <li><%= link_to_unless_current(t('.new_list'), new_list_path) %></li>
        </ul>
        <% end %>
      </div>
    </div>

    <div class="pure-u-3-4">
      <%= yield %>
    </div>
  </div>

  <footer>
    ❤︎ poolparty
  </footer>

</body>
</html>
