<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="tools">
    <%= link_to(t('.admin'), admin_recipes_path) %>
    <% if @recipe %>
      · <%= link_to(t('.edit'), edit_admin_recipe_path(@recipe)) %>
    <% end %>
  </div>

  <header>
    <h1><%= link_to('<span>chef</span> mis·recetas'.html_safe, '/') %></h1>
  </header>

  <div id="wrapper" class="pure-g">
    <div class="pure-u-1-4">
      <div class="sidebar">
        <h3><%= t('.recipes') %></h3>
        <ul>
          <li><%= link_to_unless(action_name == 'index' && params[:q].blank?, t('.last_created'), recipes_path) %></li>
          <li><%= link_to_unless_current(t('.new'), new_recipe_path) %></li>
          <li>
            <%= form_tag(recipes_path, method: :get) do %>
              <%= search_field_tag 'q', params[:q], placeholder: t('.search_help') %>
            <% end %>
          </li>
        </ul>

        <h4><%= t('.by_ingredient') %></h4>
        <ul>
        <% Food.popular.each do |food| %>
          <li><%= link_to("#{food.name} (#{food.count})", food_recipes_path(food), title: t('.recipes_with_food', name: food.name)) %></li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="pure-u-3-4">
      <%= yield %>
    </div>
  </div>

</body>
</html>
